.adv_header {
    color: rgb(255, 255, 255);
    background: rgb(33, 150, 243);  
    font: normal normal 300 normal 16px / 24px Roboto, Noto, sans-serif;   
    padding: 20px 40px;
}

.adv_header p{
    margin: 0px;    
}

.adv_header h1{
    font: normal normal normal normal 32px / 24px sans-serif;
    margin: 20px 0px;
}

.adv_header a{
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font: normal normal 300 normal 13px / 24px Roboto, Noto, sans-serif;
    border-bottom: 1px dotted;
}
