html,body{
	padding:0px;
	margin:0px;
        	
}

.header_ad_b{
    background: #2a2a2a;
    color: #fff;
    height: 34px;
    padding: 10px 0 8px;
    width: 100%;
    text-align: left;
    text-rendering: optimizeLegibility;
}

.adv_menu header{
     margin: 0px auto;
    max-width: 900px;
    padding: 0 10px;
     display: flex;
    flex-flow: row nowrap;
}

.adv_menu a {
   border-bottom: 1px dotted #2a2a2a;
    color: inherit;
    text-decoration: none;
    -webkit-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
	 
}

.adv_menu .lgh{
    align-items: center;
    border: 0;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    height: 34px;
}

.adv_menu img {
    height: 24px;
    margin-right: 10px;
}
.adv_menu header h2 {
    display: block;
    font-weight: 900;
	 font-size:18px;
    line-height: 18px;
    position: relative;
        margin: 0px !important;
}
.adv_menu .navigationFull nav ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0px;
    float:right;
}

.adv_menu .navigationFull nav ul:after{
  content:"";
  display:table;
  clear:both;
}

.adv_menu ol, .adv_menu ul {
    list-style: none;
}

.adv_menu .navigationFull nav ul li a {
    border: 0;
    color: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
}

.adv_menu .navigationFull nav ul li {
    padding: 5px 10px;
    display: block;
}
.navigationFull nav ul li a:hover {
    border-bottom: 2px solid #fff;
    color: #fff;
}
.navigationFull nav {
    position: relative;
}
.navigationFull {
    height: 34px;
    margin-left: auto;
}
 @media screen and (max-width: 600px) {
         .adv_menu{
            height: 65px !important;
         }
         .adv_menu header{
             flex-direction: column;
         }         
       }  