.left_align_ntk_menu .heading img{
  width:100%;
  height:100%;
}
.left_align_ntk_menu{
  font: 13px/18px 'Open Sans',arial,sans-serif;
  position:fixed;
  text-transform: uppercase;
  text-align: right; 
  left:0px;
  top:0px;
  bottom:0px;
  width:15%;
  background-color: #fff;
  height:100%;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.left_align_ntk_menu ul li{
    border-top: 1px solid #f3efef;
    background-color: #fff;
}
.left_align_ntk_menu ul{
  margin:0px;
  padding:0px;
  list-style-type:none;
}

.left_align_ntk_menu ul li:hover {
    background-color: #eee;
}

.left_align_ntk_menu>ul>li>ul{
  display:none;
  width:calc(100% - 20px);
  position:absolute;
  left:100%;
  top:0px;
      background: #fff;
    border: 1px solid #f9f9f9;
    border-radius: 0px 5px 5px 0px;
}
.left_align_ntk_menu .has-sub:hover ul,.left_align_ntk_menu .has-sub:active ul{
  display:block;
}

.left_align_ntk_menu .has-sub>a:after{
    content: "";
    opacity: 1;
    position: absolute;
    right: 6px;
    top: 14px;
    border: solid rgba(51, 51, 51, 0.66);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2.4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left_align_ntk_menu .has-sub{
  position:relative;
}

.left_align_ntk_menu .has-sub ul{
      background: #fff;
    border: 1px solid #f9f9f9;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 1px 1px #eee;
}

.left_align_ntk_menu ul a{
    text-decoration: none;
    padding: 9px 18px 9px;
    text-transform: inherit;
    text-align: inherit;
    color:#333;
    font-size: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

.left_align_ntk_menu ul li:first-child{
  border-top:0px;
}
