.bluetabs{
background:#f8fdfd;
height: 48px;
font-size: 13px;
font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
text-align:center;
-webkit-tap-highlight-color: rgba(0,0,0,0);
border-bottom: 1px solid #e0e0e0;
}
.bluetabs ul{
list-style:none;
margin:0px;
padding:0px;
}
.bluetabs ul li{
display:inline-block;
}
.bluetabs .selected{
border-bottom: 2px solid #ff4772;
color: #ff4772;
}
.bluetabs ul li a{
color: #949191;
font-weight: 500;
text-transform: uppercase;
text-decoration:none;
display: inline-block;
height: 47px;
letter-spacing: .5px;
line-height: 50px;
padding: 0 10px;
white-space: nowrap;
}

.bluetabs a:active {
background-color: #fafafa;
}