
#mymenuk ul{
    list-style: none;    
    padding: 5px 20px;
	font-family: 'Roboto', sans-serif;
}
#mymenuk ul li {
    display: inline-block;
}

#mymenuk ul li a {
    display: block;
    float: left;
    border-top: 1px solid #96d1f8;
    background-color: #3e779d;
    background-image: linear-gradient(to bottom, #3ca9ff, #3988c7);
    padding: 4px 13px;
    border-radius: 5px;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    -webkit-text-stroke: 1px transparent;
    font-size: 14px;
    color: rgba(255,255,255,.85);
    text-decoration: none;
    margin: 0 5px 0 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.26);
}
#mymenuk ul li a:hover {
   border-top: 1px solid #4789b4;
    background: linear-gradient(to bottom, #03A9F4, #1178bd);
    color: rgba(255,255,255,.85);
}

