.menu_z{
   white-space: nowrap;
   padding: 8px;
   color:#8a8888
}
.menu_z:after{
 content: "";
 display:table;
 clear:both;
}
#mymenuz>ul{
 float:right
}
.menu_z>ul>li{
     display: inline-block;
	  border-radius: 5px;
}
.menu_z li,.menu_z ul {
   list-style: none;
   padding: 0;
   border: 0;
   margin: 0;   
   font: inherit;
   color: inherit;
   line-height: normal;
}
.menu_z>ul>li a {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: #9a9a9a;
   text-decoration: none;
   display: inline-block;
   padding: 3px 10px;
   text-align: left;
   font-size: 13px;
   font-family:inherit;
   font-weight: 600;
   line-height: 20px;
   -webkit-transition: background 50ms linear,color 50ms linear;
   transition: background 50ms linear,color 50ms linear;
}
.menu_z>ul>li>a{
   padding: 8px 12px;
	color: inherit;
}
.menu_z>ul>li:hover {
   color: #fff;
   background: #354b60;
   outline: none;
}
.menu_z .has-sub>a:after {
   content: "";
   position: relative;
   display: inline-block;
   margin-left: 7px;
   vertical-align: baseline;
   margin-bottom: 2px;
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 5px 4px 0;
   border-color: #8a8888 transparent transparent;
}
.menu_z .has-sub:hover a:after{
 border-color: #fff transparent transparent;
}
.menu_z ul[role=menu]:before {
   position: absolute;
   content: "";
   height: 10px;
   width: 100%;
   background: transparent;
   top: -10px;
}
.menu_z ul[role=menu] {
   display: none;
   position: absolute;
   background:#fff;
   box-shadow: 0 5px 20px rgba(0,0,0,.3);
   padding: 10px 0;
   min-width: 187px;
   border-radius: 4px;
}
.menu_z .has-sub:hover ul[role=menu]{
   display: block;    
}
.menu_z small{
 display:block;
}
.menu_z ul[role=menu]:after {
   content: "";
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 0 8px 8px;
   border-color: transparent transparent #fff;
   position: absolute;
   top: -8px;
   left: 16px;
}
.menu_z ul[role=menu] li a{
 -webkit-font-smoothing: subpixel-antialiased;
   transition: background .1s linear;
   border-radius:0px;
   width:100%;
}
.menu_z ul[role=menu] li:hover {
   background: rgba(0,0,0,.1);
   color: inherit;
   outline: none;
}
.menu_z .flex{
display: flex !important;
}
.menu_z ul[role="menu"] a i{
   flex-grow: 0;
   font-size: 26px;
   padding: 7px;
   min-width: 22px;
   text-align: center;
}
.menu_z ul[role="menu"] a span{
 flex-grow:1;
 padding-left: 2px;
}