body{
  margin:0px;
}
.menu_y{
       background:#fff;
      font-family: arial, sans-serif;
}

.menu_y ul {
    margin: 0;
    padding: 0;
    font-size: 15px;
    list-style: none;
}

.menu_y ul a{
  text-decoration:none;
  color:#333;
  padding: 12px;
}

.menu_y>ul>li{
  display:inline-block;
  position:relative;
}


.menu_y>ul>li a{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.menu_y a:hover{
 background: #f2f2f2;
}

.menu_y>ul>li ul{
  display:none;
  background:inherit;
  width:100%;
  border: 1px solid rgba(153, 149, 149, 0.22);
  background:#fff;
  min-width:160px;
  position:absolute;  
}
.menu_y>ul>.has-sub:hover ul{
   display:block;
}
.menu_y>ul>.has-sub:hover >a,.menu_y>ul>.has-sub>ul>li:hover >a{
   display:block;
   background: #f2f2f2;
}

.menu_y>ul>.has-sub>ul>li ul{
    min-width: 90px;
    width: 0px;
    position: absolute;
    display: block;
    height: 100%;
    left: 100%;
    top: 0%;
    transition: width 0.2s;
    visibility: hidden;
}

.menu_y>ul>.has-sub>ul>li:hover >ul{
  visibility:visible;
  width:100%;
}

.menu_y>ul>.has-sub>a{
  padding-right:22px;
}

.menu_y .has-sub a{
	    padding: 12px 12px 12px 17px;
    text-align: left;
}

.menu_y i.fa {
    margin-right: 4px;
}
.menu_y>ul>.has-sub>a::after {
    position: absolute;
        top: 12px;
    right: 12px;
    width: 4px;
    height: 4px;
    content: "\f107";
    font-family: fontAwesome;
 }
.menu_y>ul>.has-sub .has-sub >a::after{
    position: absolute;
    top: 13px;
    right: 23px;
    width: 4px;
    height: 4px;
    content: "\f105";
    font-family: fontAwesome;
    color: #ddd;
}
.menu_y>ul>.has-sub .has-sub >a{
  position:relative;
}