.slider_uk .image_slider {
  width: 100%;
  height: 100%;
  background: #ccc;
}
.slider_uk .images:not(:first-of-type) {
  display: none;
}
.slider_uk .images {
  width: 100%;
  height: 100%;
  position: absolute;
}
.slider_uk .rsImg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider_uk .slider_controllers {
  position: absolute;
  right: 20px;
  bottom: 18px;
}
.slider_uk .bullets {
  display: inline-block;
  position: relative;
  bottom: 5px;
}
.slider_uk .bullets span {
  width: 8px;
  height: 8px;
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%;
  border: 1px solid #aaa;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.slider_uk .arrow_left, .slider_uk .arrow_right {
  width: 21px;
  height: 21px;
  cursor: pointer;
  display: inline-block;
  background: url("../../assets/IMAGES/rs-minimal-white.png");
}
.slider_uk .arrow_left {
  background-position: -4px -4px;
}
.slider_uk .arrow_right {
  background-position: -4px -36px;
}
.slider_uk .select-bullet {
  background-color: #841A1A !important;
  border: 1px solid #842 !important;
}
.slider_uk .title {
  background: rgba(255, 255, 255, 0.8);
  left: 30px;
  position: absolute;
  z-index: 15;
  bottom: 48px;
  opacity: 0px;
  font-family: 'PT Sans', sans-serif;
  line-height: 18px;
  font-size: 16px;
}
.slider_uk .slide_up {
  -webkit-animation: aniload 0.6s;
  -moz-animation: aniload 0.6s;
  -ms-animation: aniload 0.6s;
  -o-animation: aniload 0.6s;
  animation: aniload 0.6s;
}
.slider_uk .title p {
  padding: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  margin: 4px 0 0;
  color: #000;
}
.slider_uk .title h4 {
  padding: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 3px;
  text-align: left;
  color: #a12d33;
}
@-webkit-keyframes aniload {
  from {
    -webkit-transform: translate(0px, 100px);
  }
  to {
    -webkit-transform: translate(0px, 0px);
  }
}
@-moz-keyframes aniload {
  from {
    -moz-transform: translate(0px, 100px);
  }
  to {
    -moz-transform: translate(0px, 0px);
  }
}
@-ms-keyframes aniload {
  from {
    -ms-transform: translate(0px, 100px);
  }
  to {
    -ms-transform: translate(0px, 0px);
  }
}
@-o-keyframes aniload {
  from {
    -o-transform: translate(0px, 100px);
  }
  to {
    -o-transform: translate(0px, 0px);
  }
}
@keyframes aniload {
  from {
    transform: translate(0px, 100px);
  }
  to {
    transform: translate(0px, 0px);
  }
}
