         .simple_img_card{
           color:#fff;
         --paper-card-background-color: #2d566b
         }
         .simple_img_card .card-actions{
           -moz-user-select: none;
           -ms-user-select: none;
           -webkit-user-select: none;
            user-select: none;
            @apply(--layout-horizontal);
         }
         .simple_img_card .cardDetials{
            padding:8px;
            line-height: 21px;
         }
         .simple_img_card .cardDetials span{
            padding:3px;
         }
         .simple_img_card .card-actions img{
            border: 1px solid #e0e0e0; 
         }