.table_uk_4 table,.table_uk_4 th,.table_uk_4 td {
    border: 1px solid black;
    border-collapse: collapse;
}
.table_uk_4 th,.table_uk_4 td{
    padding: 5px;
    text-align: left;
}
.table_uk_4 table{
    width: 100%;    
    background-color: #f1f1c1;
}