.flex_img_left>div>img{
    display: block;
    width: 40px;
    height: auto;
    margin-top: .2em;
    margin-right: 1em;
}

@media (min-width: 576px){
.flex_img_left>div>img {
    width: 70px;
}
}
.flex_img_left h3{
      margin: 0 0 .5em;
}

.flex_img_left{
    padding: 0.8em 0.8em;
 }