.sliderb_uk .image_slider {
  width: 100%;
  height: 350px;
  background: #ccc;
}
.sliderb_uk .images {
  width: 100%;
  height: 350px;
  position: absolute;
}
.sliderb_uk .rsImg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
	background-size: cover;
}

.sliderb_uk .images:not(:first-of-type) {
  display: none;
}


.sliderb_uk .slider_controllers {
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translate(-50%);
}
.sliderb_uk .bullets {
  display: inline-block;
  position: relative;
  bottom: 5px;
}
.sliderb_uk .bullets span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../IMAGES/bullet.png) left top;
  float: left;
  text-indent: -4000px;
  position: relative;
  margin-left: 7px;
  border-radius: 50%;
  cursor: pointer;
  color: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sliderb_uk.slider_content {
  position: relative;
  width: 800px;
}
.sliderb_uk .arrow_left {
  width: 21px;
  height: 21px;
  display: inline-block;
  background: url("../../assets/IMAGES/rs-minimal-white.png");
  background-position: -4px -4px;
}
.sliderb_uk .arrow_right {
  width: 21px;
  height: 21px;
  display: inline-block;
  background: url("../../assets/IMAGES/rs-minimal-white.png");
  background-position: -4px -36px;
}
.sliderb_uk .select-bullet {
  background-position: 0 100% !important;
}
.sliderb_uk .ws_controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sliderb_uk a.ws_next {
  background-position: 100% 0;
  right: 15px;
}
.sliderb_uk a.ws_prev {
  left: 15px;
  background-position: 0 0;
}
.sliderb_uk a.ws_next, .sliderb_uk a.ws_prev {
  position: absolute;
  display: none;
  top: 50%;
  margin-top: -30px;
  z-index: 60;
  height: 44px;
  width: 44px;
  background-image: url(../../assets/IMAGES/arrows.png);
}
.sliderb_uk.slider_content:hover .ws_controls a {
  display: block;
}
.sliderb_uk a.ws_prev:hover {
  background-position: 0 100%;
}
.sliderb_uk a.ws_next:hover {
  background-position: 100% 100%;
}
.sliderb_uk.slider_content .title {
  background: rgba(255, 255, 255, 0.8);
  left: 30px;
  position: absolute;
  z-index: 15;
  bottom: 48px;
  opacity: 0px;
  font-family: 'PT Sans', sans-serif;
  line-height: 18px;
  font-size: 16px;
}
.sliderb_uk .slide_up {
  -webkit-animation: aniload 0.6s;
  -moz-animation: aniload 0.6s;
  -ms-animation: aniload 0.6s;
  -o-animation: aniload 0.6s;
  animation: aniload 0.6s;
}
.sliderb_uk.slider_content .title p {
  padding: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  margin: 4px 0 0;
  color: #000;
}
.sliderb_uk.slider_content .title h4 {
  padding: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 3px;
  text-align: left;
  color: #a12d33;
}
@-webkit-keyframes aniload {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes aniload {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes aniload {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes aniload {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes aniload {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
