 .cafe-header { @apply(--paper-font-headline); }
  .cafe-light { color: var(--paper-grey-600); }
  .cafe-location {
    float: right;
    font-size: 15px;
    vertical-align: middle;
  }
  .cafe-reserve { color: var(--google-blue-500); }
  iron-icon.star {
    --iron-icon-width: 16px;
    --iron-icon-height: 16px;
    color: var(--paper-amber-500);
  }
  iron-icon.star:last-of-type { color: var(--paper-grey-500); }
  
  /*card2*/
    paper-card.rate { @apply(--layout-horizontal); }
  .rate-content {
    @apply(--layout-flex);
    float: left;
  }
  .rate-header { @apply(--paper-font-headline); }
  .rate-name { color: var(--paper-grey-600); margin: 10px 0; }
  paper-icon-button.rate-icon {
    --iron-icon-fill-color: white;
    --iron-icon-stroke-color: var(--paper-grey-600);
  }
  
  /*Crard3*/
  
  
paper-card{
--paper-card-header-color:#fff;
}

